#planet-info {
    position: absolute;
    right: 10px;
    left:10px;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 8px;
    display: none;
    z-index: 1000; /* Ensure it's above other elements */
    font-family: Arial, sans-serif;
  }
  
.navbar ul {
    list-style-type: none;
    background-color: transparent; /* Makes the background invisible */
    padding: 0;
    margin: 0;
    display: flex; /* Ensures the items stretch across the entire width */
    justify-content: space-between; /* Spreads items evenly */
}

.navbar a {
    color: black; /* Adjusted for visibility, change as needed */
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: hsl(0, 0%, 90%); /* Subtle hover effect */
}

.navbar li {
    flex: 1; /* Allows each list item to stretch evenly */
    text-align: center;
}

